<div class="title">
  <h3>Ausgewahlte ProduktenListe</h3>
</div>
<div class="services" *ngIf="auth.isAuthenticated()">
  <button class="btn" (click)="save()">Speichern alle</button>
  <span class="v-line">|</span>
  <a href="whatsapp://send?text=" data-text="Liste">
    <span class="whatsapp">
      Auswahl an Whatsapp senden
    </span>
  </a>
</div>
<div>
  <table>
    <tr>
      <th>Bild</th>
      <th>Discounter</th>
      <th>Produkt Name</th>
      <th class="show_only">Hersteller</th>
      <th>Preis</th>
      <th class="show_only">Von</th>
      <th class="show_only">bis</th>
      <th></th>
    </tr>
    <tr *ngFor="let offer of auswahlListe">
      <td><img class="img" mat-card-lg-image data-src="{{url + offer.imageLink}}" loading="lazy"></td>
      <td>{{offer.discounterName}}</td>
      <td>{{offer.produktName}}</td>
      <td class="show_only">{{offer.produktMaker}}</td>
      <td>
        <p class="prise">{{offer.produktPrise}} &#8364;</p>
      </td>
      <td class="show_only">{{offer.vonDate}}</td>
      <td class="show_only">{{offer.bisDate}}</td>
      <td>
        <button class="btn" (click)="loeschen(offer)">Löschen</button>
      </td>
    </tr>
  </table>
</div>
