.menu-open {
  background: none;
  border: none;
  display: none;
}
.smart-menu{
  display: block;
  position: absolute;
  background: rgba(0,0,0,1);
  left: 0;
  right: 0;
  width: 100%;
  padding: 40px 20px 20px 40px;
  font-size: 25px;
  margin-top: 35px;
  z-index: 100;
}
.smart-menu li{
  margin-right: 40px;
  color: #CACACA;
}
.smart-menu li:active a{
  color: #aaffaa;
}
button:focus{
  outline: none;
}
@media only screen and (max-width: 682px) {
  ul{
    display: none;
  }
  .menu-open{
    display: block;
    margin-left: 90%;
  }
  .navbar ul li.active a {
    color: #bb5a33;
  }
  .btn{
    font-size: 25px;
  }

  .navbar h1{
    display: none;
  }
}
