<nav class="navbar">
  <h1>
    <a [routerLink]="['/']">Discounter Angebote</a>
  </h1>
  <ul [ngClass]="{'smart-menu':toggle}" (click)="openMenu()">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a [routerLink]="['/']">Home</a>
    </li>
    <li routerLinkActive="active"><a routerLink="/auswahl">Auswahl</a></li>
    <li *ngIf="auth.getRoles() != null && auth.getRoles().indexOf('ROLE_ADMIN') >= 0" routerLinkActive="active"><a
    [routerLink]="['/manage']">Managing</a></li>
    <li *ngIf="!auth.isAuthenticated()"><button class="btn" (click)="goToLogin()">Login</button></li>
    <li *ngIf="auth.isAuthenticated()"><button class="btn" (click)="auth.signOut()">Logout</button></li>
  </ul>
  <button class="menu-open">
    <img src="assets/menu.svg" alt="Open menu" (click)="openMenu()">
  </button>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>



