<nav class="navbar">
  <h1>
    <a [routerLink]="['/']">Discounter Angebote</a>
  </h1>
  <ul>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a [routerLink]="['/']">Home</a>
    </li>
    <li *ngIf="auth.isAuthenticated()" routerLinkActive="active"><a [routerLink]="['/manage']">Managing</a></li>
    <li *ngIf="!auth.isAuthenticated()"><button class="btn" (click)="goToLogin()">Login</button></li>
    <li *ngIf="auth.isAuthenticated()"><button class="btn" (click)="auth.signOut()">Logout</button></li>
  </ul>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>



