@media (max-width: 1026px) {
  #monitorAb1026 {
    display: none;
  }

  #whatapp {
    display: unset;
  }
}

.mat-tab-group {
  margin-top: 30px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 7px;
}

.card-container {
  padding: 2px 16px;
  max-width: 1350px;
}

.prise {
  /*border: 1px solid #ACB0B4;*/
  color: #fb3b49;
  display: inline-block;
  margin: 10px;
  padding: 5px;
}

.oldprise {
  color: #231f20;
  text-decoration: line-through;
  font-weight: bold;
}

.actuelprise {
  font-size: 2em;
  font-weight: bold;
  padding-left: 10px;
}

.name {
  color: #404b5b;
  overflow: hidden;
  line-height: 1.5em;
  height: 3em;
}

.actuelVon {
  font-weight: bold;
  color: #000;
}

.actuelBis {
  font-weight: bold;
  color: #000;
  margin-left: 5px;
}

.actuel {
  color: #4ca167;
  margin-left: -25px;
  margin-bottom: 5px;
  display: inline-block;
  width: 100%;
  border-bottom: #231f20;
}

.kategorie {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  margin: 5px;
  padding: 5px;
  border-radius: 25px;
  margin-bottom: 20px;
}

.kategorieName {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  padding-bottom: 4rem;
  padding-top: 2rem;
  margin-bottom: .5rem;
  color: #374229;
}

.forCard {
  display: compact;
}

.simple-card {
  width: 300px;
  height: 350px;
  margin: 4px;
}
.simple-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.simple-card:hover .addIcon {
  display: inline;
}

.simple-card:hover .dicounterLinkIcon {
  display: inline;
}
.simple-header-image {
  background-size: cover;
}
.searchLogo{
  width: 65px;
}

.addIcon {
  position: relative;
  display: none;
  left: 90px;
  cursor: pointer;
}

.advice {
  position: relative;
  display: none;
  left: 70px;
  top: -20px;
  font-size: small;
  color: #CACACA;
}

.whatsapp {
  position: relative;
  display: none;
  left: 70px;
  top: -20px;
  font-size: small;
  color: #CACACA;
}

.dicounterLinkIcon {
  display: none;
  left: 65px;
  top: 35px;
  position: relative;
  color: #4ca167;;
}

.dicounterLinkIcon:hover {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
}

.addIcon:hover {
  color: red;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
}

.img:hover {
  transform: scale(1.3);
  transition: 0.5s;
}

.border {
  list-style: none;
  padding: 0;
  margin: 0;
}

.suche {
  display: inline;
  width: 18%;
}

ul {
  white-space: nowrap;
  display: flex;
}

.border li {
  font-family: "Trebuchet MS", "Lucida Sans";
  margin-bottom: 10px;
  margin-left: 5px;
  border-radius: 5px;
  border-left: 10px solid #f05d22;
  box-shadow: 2px -2px 5px 0 rgba(0, 0, 0, .1),
  -2px -2px 5px 0 rgba(0, 0, 0, .1),
  2px 2px 5px 0 rgba(0, 0, 0, .1),
  -2px 2px 5px 0 rgba(0, 0, 0, .1);
  font-size: 17px;
  display: inline-block;
  overflow: hidden;
  transition: 1s;
  max-width: 100px;
  min-width: 10px;
  white-space: nowrap;
}

.border li:hover {
  max-width: 100%;
  background-color: #f39ca1;
}

.searchArea{
  margin-top: 70px;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center
}
.searchArea input{
  width: 45%;
  margin-bottom: 0;
}
.searchArea label{
  margin-right: 20px;
  bottom: 5px;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
  background-color: rgb(86, 112, 107) !important;
}

.logos {
  width: 140px;
}

.lidlLogo {
  color: #004fac;
  background-color: #fff000;
  padding-left: 20px;
  padding-right: 20px;
}

.lidlLogoI {
  color: #e7030c;
}

.aldiLogo {
  background-color: #233485;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.pennyLogo {
  background-color: #CD1414;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.pennyLogoDot {
  color: #FFD200;
  font-size: 50px;
}

.mat-tab-labels {
  position: relative;
  z-index: 0;
}

.auswahl_zaehler {
  position: fixed;
  top: 25px;
  right: 300px;
  font-size: 25px;
  color: #eaa237;
  z-index: 105;
}

@media only screen and (max-width: 425px) {
  .simple-card {
    height: 400px;
  }

  .img {
    margin-top: 0px !important;
    margin-left: 65px;
  }

  .name {
    margin-top: 0px !important;
  }

  .prise {
    margin-top: 20px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .cards {
    margin: 0;
  }

  .simple-card {
    margin: 0 0 4px 0;
  }

  .dicounterLinkIcon {
    left: 40px;
  }

  .card-container {
    padding: 2px 0 2px 0;
    margin-top: 20px !important;
  }

  .card-info {
    margin-left: 20px !important;
  }

  .img {
    width: 150px !important;
    height: 155px !important;
  }

  .name {
    margin-left: 0 !important;
  }

  .prise {
    margin-top: 50px !important;
  }
}

@media only screen and (max-width: 682px) {
  .searchArea input{
    width: 100%;
  }

  ul {
    display: none;
  }

  .cards {
    display: block;
  }

  .simple-card {
    width: 100%;
  }


  .actuel {
    display: contents;
    font-size: 20px;
    margin-bottom: 15px;
  }

  .mat-icon {
    transform: scale(1.3);
  }

  .addIcon {
    left: 20px;
    top: 5px;
  }

  .dicounterLinkIcon {
    top: 5px;
  }

  .mat-card-content {
    display: flex;
  }

  .card-info {
    margin-left: 50px;
  }

  .name {
    font-size: 22px;
    margin-top: 20px;
  }

  .card-container {
    display: flex;
    margin-top: 10px
  }

  .img {
    width: 230px;
    height: 200px;
    margin-top: 15px;
  }

  .auswahl_zaehler {
    top: 15px;
    right: 45%;
  }

  .logos {
    font-size: 11px

  }

}

@media only screen and (max-width: 425px) {
  .prise {
    margin-top: 20px !important;
  }

  .card-container {
    display: block !important;
    margin-top: 0px !important;
  }
}
