<mat-tab-group>
  <div *ngFor="let discounter of discounters|keyvalue" class="mainOffer">
    <mat-tab>
      <ng-template mat-tab-label>
        <ng-template [ngIf]="discounter.key === 'Lidl'">
          <div class="logos">
            <h1 class="lidlLogo">L<span class="lidlLogoI">i</span>DL</h1>
          </div>
        </ng-template>
        <ng-template [ngIf]="discounter.key === 'Penny'">
          <div class="logos">
            <h1 class="pennyLogo">PENNY<span class=pennyLogoDot>.</span></h1>
          </div>
        </ng-template>
        <ng-template [ngIf]="discounter.key === 'Aldi'">
          <div class="logos">
            <h1 class="aldiLogo">ALDI</h1>
          </div>
        </ng-template>
      </ng-template>

      <div class="kategorieLinks" id="monitorAb1026">
        <ul class="border">
          <li *ngFor="let kategori of discounter.value|keyvalue">
            <a href="#{{kategori.key}}">{{kategori.key}}</a>
          </li>
        </ul>
      </div>

      <div class="kategorie" *ngFor="let kategori of discounter.value|keyvalue">
        <div id="{{kategori.key}}" class="kategorieName">
          {{kategori.key}}
        </div>
        <div class="cards">
          <div *ngFor="let offer of kategori.value">

            <mat-card class="simple-card" role="group">
              <mat-card-header>
                <div class="actuel">
                  <span class="actuelVon" *ngIf="offer.vonDate">von: </span> {{offer.vonDate | date:'dd.MM'}}
                  <span class="actuelBis">bis: </span> {{offer.bisDate | date:'dd.MM'}}
                  <mat-icon class="addIcon" (click)="addToBucket(offer)">playlist_add</mat-icon>
                  <span class="advice">add</span>
                  <a href="{{offer.url}}" class="dicounterLinkIcon">
                    <mat-icon>link ikon</mat-icon>
                  </a>
                </div>
              </mat-card-header>
              <mat-card-content>
                <div class="card-container">
                  <img class="img" mat-card-lg-image data-src="{{url + offer.imageLink}}" loading="lazy">

                  <div class="card-info">
                    <div class="name">
                    <h4>{{offer.produktName}}</h4>
                  </div>
                    <div class="prise">
                      <div class="oldprise" *ngIf="!(offer.produktRegularPrise === 'null')">
                        {{offer.produktRegularPrise}}
                      </div>
                      <div class="actuelprise">
                        {{offer.produktPrise}}
                      </div>
                    </div>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>

          </div>
        </div>
      </div>
    </mat-tab>
  </div>
</mat-tab-group>

<div class="auswahl_zaehler" *ngIf="ausgewahl.length > 0">
  {{this.ausgewahl.length}} Artikel
</div>
