<div class="searchArea">
  <label>Produktname: </label>
  <input type="text" [(ngModel)]="search">
</div>
<div *ngIf="search">
  <div class="cards">
    <div *ngFor="let offer of allOffersList|filter:search">
      <mat-card class="simple-card" role="group">
        <ng-template [ngIf]="offer.discounterName.includes('LIDL.')">
          <div class="searchLogo">
            <img src="assets/lidl.png" alt="image">
          </div>
        </ng-template>
        <ng-template [ngIf]="offer.discounterName.includes('PENNY')" class="searchLogo">
          <div class="searchLogo">
            <img src="assets/penny.png" alt="image">
          </div>
        </ng-template>
        <ng-template [ngIf]="offer.discounterName.includes('Aldi')" class="searchLogo">
          <div class="searchLogo">
            <link rel="stylesheet" type="text/css" href="../../assets/css/logo.css">
          </div>
        </ng-template>
        <ng-template [ngIf]="offer.discounterName.includes('Netto')" class="searchLogo">
          <div class="searchLogo">
            <img src="assets/netto.svg" alt="image">
          </div>
        </ng-template>
        <ng-template [ngIf]="offer.discounterName.includes('Edeka')" class="searchLogo">
          <div class="searchLogo">
            <img src="assets/edeka.svg" alt="image">
          </div>
        </ng-template>
        <ng-template [ngIf]="offer.discounterName.includes('Globus')" class="searchLogo">
          <div class="searchLogo">
            <img src="assets/lidl.png" alt="image">
          </div>
        </ng-template>
        {{log(offer)}}

        <mat-card-header>
          <div class="actuel">
            <span class="actuelVon" *ngIf="offer.vonDate">von: </span> {{ offer.vonDate | date:'dd.MM' }}
            <span class="actuelBis">bis: </span> {{ offer.bisDate | date:'dd.MM' }}
            <mat-icon class="addIcon" (click)="addToBucket(offer)">playlist_add</mat-icon>
            <span class="advice">add</span>
            <a href="{{offer.url}}" class="dicounterLinkIcon">
              <mat-icon>link ikon</mat-icon>
            </a>
          </div>
        </mat-card-header>
        <mat-card-content>
          <div class="card-container">
            <img class="img" mat-card-lg-image data-src="{{url + offer.imageLink}}" loading="lazy">

            <div class="card-info">
              <div class="name">
                <h4>{{ offer.produktName }}</h4>
              </div>
              <div class="prise">
                <div class="oldprise" *ngIf="!(offer.produktRegularPrise === 'null')">
                  {{ offer.produktRegularPrise }}
                </div>
                <div class="actuelprise">
                  {{ offer.produktPrise }}
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

    </div>
  </div>
</div>

<div *ngIf="!search">
  <mat-tab-group>
    <div *ngFor="let discounter of discounters|keyvalue" class="mainOffer">
      <mat-tab>
        <ng-template mat-tab-label>
          <ng-template [ngIf]="discounter.key === 'Lidl'">
            <div class="logos">
              <img src="assets/lidl.png" alt="image">
            </div>
          </ng-template>
          <ng-template [ngIf]="discounter.key === 'Penny'">
            <div class="logos">
              <img src="assets/penny.png" alt="image">
            </div>
          </ng-template>
          <ng-template [ngIf]="discounter.key === 'Aldi'">
            <div>
              <b class="aldi">
                ALDI
              </b>
            </div>
          </ng-template>
          <ng-template [ngIf]="discounter.key === 'Netto'">
            <div class="logos">
              <img src="assets/netto.svg" alt="image">
            </div>
          </ng-template>
          <ng-template [ngIf]="discounter.key === 'Edeka'">
            <div class="edeka">
              EDEKA
            </div>
          </ng-template>
        </ng-template>


        <div class="kategorie" *ngFor="let kategori of discounter.value|keyvalue ">
          <div id="{{kategori.key}}" class="kategorieName">
            {{ kategori.key }}
          </div>
          <div class="cards">
            <div *ngFor="let offer of kategori.value">

              <mat-card class="simple-card" role="group">
                <mat-card-header>
                  <div class="actuel">
                    <span class="actuelVon" *ngIf="offer.vonDate">von: </span> {{ offer.vonDate | date:'dd.MM' }}
                    <span class="actuelBis">bis: </span> {{ offer.bisDate | date:'dd.MM' }}
                    <mat-icon class="addIcon" (click)="addToBucket(offer)">playlist_add</mat-icon>
                    <span class="advice">add</span>
                    <a href="{{offer.url}}" class="dicounterLinkIcon">
                      <mat-icon>link ikon</mat-icon>
                    </a>
                  </div>
                </mat-card-header>
                <mat-card-content>
                  <div class="card-container">
                    <img class="img" mat-card-lg-image data-src="{{url + offer.imageLink}}" loading="lazy">

                    <div class="card-info">
                      <div class="name">
                        <h4>{{ offer.produktName }}</h4>
                      </div>
                      <div class="prise">
                        <div class="oldprise" *ngIf="!(offer.produktRegularPrise === 'null')">
                          {{ offer.produktRegularPrise }}
                        </div>
                        <div class="actuelprise">
                          {{ offer.produktPrise }}
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>

            </div>
          </div>
        </div>
      </mat-tab>
    </div>
  </mat-tab-group>
</div>


