

<mat-tab-group>
  <mat-tab >
    <ng-template mat-tab-label>
      Sammeln
    </ng-template>
    <ng-template matTabContent>
      <app-gathering></app-gathering>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Löschen letzte Anträge
    </ng-template>
    <ng-template matTabContent>
      <app-dellastitmes></app-dellastitmes>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Kategorie Bestimmung
    </ng-template>
  </mat-tab>

</mat-tab-group>
