@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #f5f5f5;
  color: #333;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 1rem;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
a:hover {
  color: #666;
}
ul {
  list-style: none;
}
img {
  width: 100%;
}
.btn {
  display: inline-block;
  background: #333333;
  color: #fff;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}
.btn:disabled {
  background: #ccc;
  color: #000;
  cursor: not-allowed;
}
.btn:hover {
  opacity: 0.8;
}
.btn.btn-danger {
  background: #A3C4BC;
  color: #fff;
}
.form-control {
  display: block;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
}
.form-control label {
  display: block;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.form-control input {
  margin-bottom: 0;
}
.form-control .validation {
  color: red;
}
.card {
  padding: 1rem;
  border: #ccc 1px dotted;
  margin: 0.7rem 0;
}
.card p {
  display: flex;
  justify-content: space-between;
}
.card p span.completed {
  text-decoration: line-through;
}
a {
  text-decoration: none;
  color: #333;
}
input, select, textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}
hr {
  margin: 0.5rem 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 100;
  width: 100%;
  margin-bottom: 1rem;
  background: #45615c;
  color: #fff;
  position: fixed;
}
.navbar ul {
  display: flex;
}
.navbar ul li.active a {
  font-weight: bold;
  color: #333333;
  cursor: default;
}
.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}
@media (max-width: 375px) {
  .navbar{
    display: inline;
  }
}
/*@media (max-width: 48em) {*/
/*  .navbar ul {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    list-style: none;*/
/*    overflow: hidden;*/
/*    background-color: #fff;*/
/*  }*/

/*  .navbar li a {*/
/*    display: block;*/
/*    padding: 20px 20px;*/
/*    border-right: 1px solid #f4f4f4;*/
/*    text-decoration: none;*/
/*  }*/

/*  .navbar li a:hover,*/
/*  .navbar .menu-btn:hover {*/
/*    background-color: #f4f4f4;*/
/*  }*/
/*  .header .menu-icon .navicon:before {*/
/*    top: 5px;*/
/*  }*/

/*  .header .menu-icon .navicon:after {*/
/*    top: -5px;*/
/*  }*/
/*}*/
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
